.dark, .light{
    font-size: 0.75rem !important;
    padding: 2rem;
    width: 50vw;
    margin: auto;
    border-radius: 8px;
    box-shadow: 4px 4px 8px #656565ae;
    font-family: 'Poppins';
}

.dark{
    background-color: #424271;
    color: white;
}

.light{
    background-color: white;
    color: #424271;
}

.theme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.theme button{
    background-color: #FF8CA8;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    font-weight: 800;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.app{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50vw;
    margin: auto;
}

.app input{
    padding: 1rem;
    border-radius: 8px;
}

.app .disabledInput{
    background-color: #c641ab54;
}
.app input::placeholder{
    font-size: 1rem;
}

.app > button{
    background-color: #C641AC;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 800;
    text-transform: capitalize;
}

.app p{
    letter-spacing: 2px;
    font-size: 1.25rem;
}

.app h2{
    font-size: 2rem;
}

.app .product-details{
    font-size: 1rem;
    border: 2px solid rgb(11, 39, 83);
    background-image: linear-gradient(45deg, rgb(20, 48, 68),  rgb(27, 100, 153));
    border-radius: 16px;
    padding: 2.75rem 1rem;
    color: white;
    box-shadow: 4px 4px 8px #333333ae;
    margin-bottom: 1rem;
}

.app .product-details p{
    font-size: 1rem;
    margin: 1rem;
    color: white;
}

.app ul{
    list-style: none;
}

.app button{
    background-color: rgb(44, 135, 196);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    margin: 1rem;
}

.app li{
    background-color: transparent;
}


