.ques6{
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.ques6 .inputarea {
    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}
.ques6 input{
    padding: 1rem;
    width: 100%;
    text-transform: capitalize;
}

.ques6 button, ul{
    width: 100%;
}

.ques6 li{
    background-color: rgba(47, 79, 79, 0.133);
    border-radius: 8px;
    width: 100%;
    position: relative;
}

.ques6 li span{
    position: absolute;
    right: 2%;
    top: 25%;
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    font-size: 14px;
    box-shadow: 2px 0px 4px #3336;
    cursor: pointer;
    transition: all ease 300ms;
}

.ques6 li span:hover{
    box-shadow: 2px -2px 4px #3330;
}