.slide{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}

.slide img{
    width: 400px;
    border-radius: 8px;
}

.slide input[type="number"]{
    font-size: 1rem;
    border: none;
    text-align: center;
    background-color: rgba(255, 0, 221, 0.178);
    padding-left: 1rem;
    font-weight: bolder;
    color: #000;
    border-radius: 50%;
    aspect-ratio: 1;
}

.slide button{
    background-color: black;
    margin-left: 1rem;
}

.slide button:last-of-type{
    background-color: #ddd;
    color: #000;
}