*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
  }

div{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 20px;
}