.ques1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50vw;
    margin: auto;
}

.ques1 input{
    padding: 1rem;
    border-radius: 8px;
}

.ques1 input::placeholder{
    font-size: 1rem;
}

.ques1 button{
    background-color: crimson;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 800;
    text-transform: capitalize;
}

.ques1 p{
    letter-spacing: 2px;
}