.ques3{
    display: flex;
    gap: 1rem;
    margin: auto;
    width: 50vw;
    text-align: center;
    padding: 0px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-family: 'Poppins';
}

.ques3 a{
    text-decoration: none;
    color: cornflowerblue;
    border: 2px solid #33333331;
    padding: 0.45rem 1rem;
    font-size: 1rem;
    border-radius: 6px;
}
